
[submodule "helloflask/sayhello"]
	path = helloflask/sayhello
	url = git@github.com:MingruiWang2017/sayhello.git
[submodule "helloflask/bluelog"]
	path = helloflask/bluelog
	url = git@github.com:MingruiWang2017/bluelog.git
[submodule "helloflask/todoism"]
	path = helloflask/todoism
	url = git@github.com:MingruiWang2017/todoism.git
[submodule "helloflask/catchat"]
	path = helloflask/catchat
	url = git@github.com:MingruiWang2017/catchat.git
