[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
wtforms = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
sendgrid = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
unidecode = "*"
flask-login = "*"
pillow = "*"
flask-avatars = "*"
flask-whooshee = "*"
authlib = "*"
flask-babel = "*"
flask-cors = "*"
flask-socketio = "*"
eventlet = "*"
flask-oauthlib = "*"
markdown = "*"
bleach = "*"
pygments = "*"
flask-caching = "*"
redis = "*"
flask-assets = "*"
jsmin = "*"
cssmin = "*"

[dev-packages]
watchdog = "*"
faker = "*"
httpie = "*"
selenium = "*"
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.7"
