[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
wtforms = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
sendgrid = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.7"
